name: Lint, format and test
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          make install
          make install-dev

      - name: Lint
        run: make lint

      - name: Format
        run: make ARGS=--check fmt

      - name: Test
        run: make test
